@font-face {

  font-family: body-font;

  src: url(fonts/Figtree-Regular.ttf);

}

@font-face {

  font-family: heading-font;

  src: url(fonts/Figtree-Bold.ttf);

}
section {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-family: 'heading-font';
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  /* text-transform: uppercase; */
}

p, ul {
  font-family: 'body-font';
  color: #fff;
  font-size: 18px;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}
main {
  padding: 0 15px;
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff0;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    max-width: 1200px;
    margin: auto;
  }
  
  nav.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*.tua-sc-1 {
    background-image: url("files\Chatbot Elements-22.png"); 
    background-size: cover; 
    z-index: 999; 
} */
  nav.menu li {
    margin-right: 20px;
  }
  
  nav.menu a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  .hero-row {
    display: flex;
    height: 49vh;
    align-items: center;
    justify-content: center;
  }
  .hero-col {
    flex-basis: 1000px;
    text-align: center;
}
.hero-col p {
  font-size: 1.5rem;
}

  body {
    margin: 0;
    padding: 0;
    background: rgb(36,178,233);
    background: linear-gradient(90deg, rgba(36,178,233,1) 0%, rgba(95,193,241,1) 29%, rgba(75,222,223,1) 87%);
    /* background-image: url("files\Chatbot Elements-22.png"); */
  }
  
  button {
    background-color: transparent;
    color: #fff; /* Change this to the desired text color */
    padding: 6px 12px; /* Adjust the padding to control the size of the button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'body-font';
    border: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
  }
  .background-image {
    position: relative;
}
  .background-image img {
    position: absolute;
    top: 0px;
    overflow: hidden;
    width: 70%;
}
  button:hover {
    background-color: #ffffff4d; /* Change this to the desired hover background color */
    color: #333;
  }
  .btn {
    background-color: transparent;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'body-font';
    border: 2px solid;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.1s ease-in-out;
}

.btn:hover {
    background-color: #ffffff4d;
    color: #333;
}
  a.btn {
    text-decoration: none;
  }
  .menu {
    display: flex;
    list-style: none;
    flex-grow: 1;
    justify-content: flex-end;
}
  
  .menu li {
    margin: 0 10px;
  }
  ul.menu.active {
    margin: 0;
    padding: 0;
}
  .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family: 'body-font';
  }

  
  .logo {
    display: flex;
    align-items: center;
  }
  .body-overlay {
    background: url(https://hapai.co.nz/sites/default/files/tri-background-db.png);
    background-size: contain;
    background-repeat: no-repeat\9;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
}

.hero-col img {
  max-width: 400px;
  margin: auto;
}
  .logo img {

    margin-right: 10px;
    z-index: 999;
  }
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
    .menu.active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 1;
      background: rgb(36,178,233);
      background: linear-gradient(90deg, rgba(36,178,233,1) 0%, rgba(95,193,241,1) 29%, rgba(75,222,223,1) 87%);
    }
    .menu.active li {
      margin: 20px 0;
    }
    .menu.active li:last-child {
      margin-bottom: 0;
    }
    .menu.active a {
      color: #fff;
      font-size: 2rem;
    }
    .hamburger {
      display: block;
      position: relative;
      top: 50%;
      right: 0;
      padding: 10px;
      cursor: pointer;
      z-index: 999;
    }
    .hamburger span {
      display: block;
      height: 3px;
      width: 25px;
      background-color: #fff;
      margin-bottom: 5px;
      transition: transform 0.3s ease-in-out;
    }
    .hamburger.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .tua-sc-1 {
    margin-top: 150px;
}